<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MatanProject2.Properties.Settings.G2ConnectionString"
            connectionString="Data Source=dbdesign.database.windows.net;Initial Catalog=G2;Persist Security Info=True;User ID=orarie@bgufbm.onmicrosoft.com;Password=Mis69161;Encrypt=True;Authentication=Active Directory Password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>